/* styles.css */

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo para o menu de navegação */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para a seção de listagem de imóveis */
.listagem-imoveis {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.listagem-imoveis article {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
}

.listagem-imoveis article img {
    width: 100%;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}
